.panel-bienvenida {
    width: 200px;
    position: absolute;
    z-index: 20;
    background-color: black;
    opacity: 0.7;
    right: 45%;
    top: 45%;
}
#panel-inicial{
  border-color: #ddd;
  opacity: .7;
  margin-bottom: 0;
  margin-top: -100px;
}
